<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABORTO</key>
	<string>Causa probable: Miedo. Miedo del futuro. Programación inoportuna. 
	Nuevo modelo mental: Siempre obra en mí la recta acción divina. Me amo y me apruebo. Todo está bien.</string>
	<key>ABSCESO</key>
	<string>Conflicto: Dificultad para expresar algo (relacionado con la parte del cuerpo donde aparece). Ira, rabia acumulada.
	Nuevo modelo mental: Dejo libres mis pensamientos para que se marchen. Lo pasado es pasado. Estoy en paz.</string>
	<key>ABURRIMIENTO</key>
	<string>Conflicto: No saber ocuparse de uno mismo.</string>
	<key>ACCIDENTE</key>
	<string>Causa probable: Incapacidad de hacerse valer. Rebelión contra la autoridad. Fe en la violencia.
	Nuevo modelo mental: Libero la pauta que creaba esto. Estoy en paz. Soy digno y valioso.</string>
	<key>ACCIDENTE CEREBROVASCULAR</key>
	<string>Ver. Derrame cerebral</string>
</dict>
</plist>
