<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ABORTO</string>
	<string>ABSCESO</string>
	<string>ABURRIMIENTO</string>
	<string>ACCIDENTE</string>
	<string>ACCIDENTE CEREBROVASCULAR</string>
	<string>ACHAQUES</string>
	<string>ACIDEZ DE ESTÓMAGO</string>
	<string>ACNÉ</string>
	<string>ACONDROTROFIA</string>
	<string>ACROMEGALIA</string>
	<string>ACÚFENOS</string>
	<string>ADDISON, Enfermedad de</string>
	<string>ADENOCARCINOMA BRONQUIOALVEOLAR</string>
	<string>ADRENOCORTICOTROPA (ACTH)</string>
	<string>ADENOHIPÓFISIS</string>
	<string>ADENOIDES</string>
	<string>ADHERENCIAS</string>
	<string>ADICCIONES</string>
	<string>AEROFAGIA</string>
	<string>AFONÍA</string>
	<string>AFASIA</string>
	<string>AFTAS</string>
	<string>AGORAFOBIA</string>
	<string>AGOTAMIENTO</string>
	<string>AHOGOS</string>
	<string>ALBINO</string>
	<string>ALCOHOLISMO</string>
	<string>ALERGIA a la LECHE</string>
	<string>ALERGIA a los ANIMALES</string>
	<string>ALERGIA a los METALES</string>
	<string>ALERGIA al AGUA</string>
	<string>ALÉRGIA AL ALCOHOL (Azúcar transformado)</string>
	<string>ALERGIA al GLUTEN</string>
	<string>ALERGIA al LÁTEX</string>
	<string>ALERGIA al POLEN</string>
	<string>ALERGIA AL POLEN Y LOS DESAMORES</string>
	<string>ALERGIA al SOL</string>
	<string>ALERGIA en la PIEL</string>
	<string>ALERGIAS</string>
	<string>ALGODISTROFIA</string>
	<string>ALGODISTROFIA DE TOBILLO</string>
	<string>ALIMENTOS Y LAS FASES</string>
	<string>ALOPECIA</string>
	<string>ALUCEMIA</string>
	<string>ALUCINACIONES VISUALES Y AUDITIVAS</string>
	<string>ALVÉOLOS, Pulmonares</string>
	<string>ALZHEIMER</string>
	<string>AMBLIOPÍA</string>
	<string>AMENORREA</string>
	<string>AMÍGDALAS</string>
	<string>AMIGDALITIS</string>
	<string>AMILOIDOSIS (Intestino delgado)</string>
	<string>AMNESIA</string>
	<string>AMPUTACIÓN</string>
	<string>ANEMIA</string>
	<string>ANEMIA FALCIFORME</string>
	<string>ANEURISMA</string>
	<string>ANGINA DE PECHO</string>
	<string>ANGINAS</string>
	<string>ANGIOMA</string>
	<string>ANO</string>
	<string>ANOREXIA</string>
	<string>ANSIEDAD Angustia</string>
	<string>ANTEBRAZO</string>
	<string>APATIA</string>
	<string>APÉNDICE</string>
	<string>APETITO</string>
	<string>APNEA DEL SUEÑO</string>
	<string>ARRUGAS</string>
	<string>ARTERIAS</string>
	<string>ARTERIOESCLEROSIS</string>
	<string>ARTICULACIONES</string>
	<string>ARTRITIS</string>
	<string>ARTROSIS</string>
	<string>ARTROSIS CERVICAL</string>
	<string>ARTROSIS RODILLA</string>
	<string>ASCITIS</string>
	<string>ASFIXIA</string>
	<string>ASMA</string>
	<string>ASTIGMATISMO</string>
	<string>ATURDIMIENTO</string>
	<string>AUDICIÓN, PÉRDIDA</string>
	<string>AUTISMO</string>
	<string>BACTERIAS</string>
	<string>BARRIGA (DOLOR DE)</string>
	<string>BÁSCULA HORMONAL</string>
	<string>BAZO</string>
	<string>BEBER POCO</string>
	<string>BILIAR, Red</string>
	<string>BLOQUEO EMOCIONAL</string>
	<string>BOCA</string>
	<string>BOCIO (Nódulos múltiples) Eurotidiano</string>
	<string>BRADICARDIA</string>
	<string>BRAZO</string>
	<string>BRONQUIOS</string>
	<string>BRONQUITIS CRÓNICA</string>
	<string>BRUXISMO dientes</string>
	<string>BUFETA</string>
	<string>BULBO DUODENAL</string>
	<string>BULIMIA</string>
	<string>BURNOUT</string>
	<string>BURSITIS</string>
	<string>CABELLO</string>
	<string>CABEZA</string>
	<string>CADERA</string>
	<string>CALAMBRES</string>
	<string>CALCIO, Falta de</string>
	<string>CÁLCULOS</string>
	<string>CÁLCULOS BILIARES</string>
	<string>CALOTA (Bóveda craneal)</string>
	<string>CANAL CARPIANO</string>
	<string>CANAS</string>
	<string>CÁNCER</string>
	<string>CÁNCER DE COLON</string>
	<string>CÁNCER DE PULMÓN</string>
	<string>CÁNCER DE PÁNCREAS</string>
	<string>CÁNCER DE VEJIGA</string>
	<string>CÁNDIDAS</string>
	<string>CANSANCIO</string>
	<string>CAPILARES de las piernas</string>
	<string>CÁPSULA ARTICULAR</string>
	<string>CARA</string>
	<string>CARIES</string>
	<string>CARTUCHERAS</string>
	<string>CARTÍLAGOS</string>
	<string>CASPA</string>
	<string>CATARATAS</string>
	<string>CATARRO</string>
	<string>CEFALEAS</string>
	<string>CELÍACOS</string>
	<string>CEGUERA</string>
	<string>CELULITIS</string>
	<string>CEREBRO, Tumor</string>
	<string>CESÁREA</string>
	<string>CIÁTICA</string>
	<string>CICATRIZACIÓN (PROBLEMAS DE)</string>
	<string>CIEGO DEL INTESTINO</string>
	<string>CIFOSIS</string>
	<string>CIRUGÍA</string>
	<string>CISTITIS</string>
	<string>CLAVÍCULA</string>
	<string>COAGULACIÓN SANGUÍNEA</string>
	<string>CÓCCIX</string>
	<string>CODO</string>
	<string>COLESTEROL</string>
	<string>CÓLICO NEFRÍTICO</string>
	<string>COLITIS</string>
	<string>COLITIS HEMORRÁGICA</string>
	<string>COLITIS ULCEROSA</string>
	<string>COLON</string>
	<string>COLON IRRITABLE</string>
	<string>COLON, Pólipos</string>
	<string>COLUMNA VERTEBRAL</string>
	<string>COMA</string>
	<string>COMEDONES</string>
	<string>CONDRONECROSIS</string>
	<string>CONDUCTO BILIAR INTRAHEPÁTICO Y EXTRAHEPÁTICO</string>
	<string>CONDUCTOS INTRAPANCREÁTICOS</string>
	<string>CONJUNTIVITIS</string>
	<string>CONSTERNACIÓN</string>
	<string>CONTUSIÓN</string>
	<string>CONVERSIÓN REPETITIVA ÍNIMA (C.R.M.)</string>
	<string>CONVULSIONES</string>
	<string>CORAZÓN</string>
	<string>CORION CUTÁNEO</string>
	<string>CÓRNEA y CONJUNTIVA</string>
	<string>CORTES</string>
	<string>CÓRTEX CEREBRAL: Post Sensorial</string>
	<string>CÓRTEX SOMATO-SENSITIVO</string>
	<string>CORTISONA</string>
	<string>COSTILLAS</string>
	<string>CRESTA ILÍACA</string>
	<string>CRIPTOQUIDIA</string>
	<string>CRISIS NERVIOSA</string>
	<string>CRISIS ÉPICA</string>
	<string>CRISTALINO</string>
	<string>CROHN, ENFERMEDAD DE</string>
	<string>CROMOTERAPIA</string>
	<string>CROMOTERAPIA PARA LAS PERSONAS DE EDAD</string>
	<string>CROMOTERAPIA PARA LOS NIÑOS</string>
	<string>CROMOTERAPIA REJUVENECIMIENTO</string>
	<string>CRURALGIAS Lumbares</string>
	<string>CRÍTICA</string>
	<string>CUARTO CEREBRO</string>
	<string>CÚBITO</string>
	<string>CUELLO</string>
	<string>CUELLO DEL ÚTERO</string>
	<string>CUERDAS VOCALES</string>
	<string>CULPA</string>
	<string>CUSHING Enfermedad de</string>
	<string>DALTONISMO</string>
	<string>DEBILIDAD</string>
	<string>DEDOS DE LA MANO</string>
	<string>DEDOS DE LOS PIES</string>
	<string>DELGADEZ</string>
	<string>DEMENCIA SENIL</string>
	<string>DENTINA</string>
	<string>DEPORTE. Hacer demasiado</string>
	<string>DEPRESIÓN</string>
	<string>DEPRESIÓN Y MANÍA</string>
	<string>DERMIS</string>
	<string>DERRAME SINOVIAL</string>
	<string>DESCALCIFICACIÓN ÓSEA (Osteolisis)</string>
	<string>DESHIDRATACIÓN</string>
	<string>DESMAYO Desvanecimiento</string>
	<string>DESORDEN AFECTIVO INVERNAL</string>
	<string>DESORIENTACIÓN ESPACIO-TEMPORAL</string>
	<string>DESVALORIZACIÓN</string>
	<string>DIABETES</string>
	<string>DIARREA</string>
	<string>DIENTES</string>
	<string>DINERO</string>
	<string>DISCO INTERVERTEBRAL</string>
	<string>DISCONDROSIS</string>
	<string>DISENTERÍA</string>
	<string>DISLEXIA</string>
	<string>DISPERSIÓN MENTAL</string>
	<string>DISTENSIÓN</string>
	<string>DISTROFIA MUSCULAR</string>
	<string>DIVERTÍCULO</string>
	<string>DOLOR</string>
	<string>DOLOR EN REUMATOLOGÍA</string>
	<string>DOLORES MENSTRUALES</string>
	<string>DORSO PLANO</string>
	<string>EL DUELO</string>
	<string>DUODENO (Excepto bulbo)</string>
	<string>ECTODERMIS</string>
	<string>ECZEMA en el codo</string>
	<string>ECZEMA en la piel</string>
	<string>EDEMAS Hinchazón</string>
	<string>EFISEMA PULMONAR</string>
	<string>ELA (Esclerosis lateral amiotrófica)</string>
	<string>EMBARAZO EXTRAUTERINO</string>
	<string>EMBOLIAS</string>
	<string>EMOCIONES</string>
	<string>EMOCIONES LISTA</string>
	<string>ENANISMO</string>
	<string>ENCEFALITIS MIÁLGICA</string>
	<string>ENCÍAS SANGRANTES</string>
	<string>ENCOPRESIS</string>
	<string>ENDOCARDIO, Corazón</string>
	<string>ENDODERMIS</string>
	<string>ENDOMETRIO</string>
	<string>ENDOMETRIOSIS</string>
	<string>ENFERMEDAD DE DEPUYTREN</string>
	<string>ENFERMEDAD DE HASHIMOTO</string>
	<string>ENFERMEDAD DE OSGOOD SCHLATTER</string>
	<string>ENFERMEDAD DE PAGET (Cráneo)</string>
	<string>ENFERMEDAD DE RAYNAUD</string>
	<string>ENFERMEDAD DEL SUEÑO (amena del sueño)</string>
	<string>ENFERMEDADES AUTOINMUNES</string>
	<string>ENFERMEDADES CRÓNICAS e INCURABLES</string>
	<string>ENFERMEDADES INFANTILES</string>
	<string>ENFERMEDADES VENÉREAS</string>
	<string>ENFISEMA PULMONAR</string>
	<string>ENTUMECIMIENTO</string>
	<string>ENURESIS</string>
	<string>ENVENENAMIENTO</string>
	<string>EPICONDILITIS</string>
	<string>EPIDIMO</string>
	<string>EPILEPSIA</string>
	<string>EPIPLÓN MAYOR</string>
	<string>EPISTAXIS. Hemorragia nasal</string>
	<string>EPITELIO PLANO</string>
	<string>EPITROCLEITIS</string>
	<string>ERUCTOS</string>
	<string>ESCAFOIDES</string>
	<string>ESCALOFRÍOS</string>
	<string>ESCLERODERMIA O SÍNDROME DE RENAUD</string>
	<string>ESCLEROSIS</string>
	<string>ESCLEROSIS EN PLACA</string>
	<string>ESCLEROSIS MÚLTIPLE</string>
	<string>ESCOLIOSIS</string>
	<string>ESCORBUTO</string>
	<string>ESCROTO (Saco escrotal)</string>
	<string>ESGUINCES</string>
	<string>ESMALTE DE LOS DIENTES</string>
	<string>ESÓFAGO</string>
	<string>ESÓFAGO, dos tercios superiores</string>
	<string>ESÓFAGO, tercio inferior</string>
	<string>ESPALDA</string>
	<string>ESPASMOFILIA / TETANIA</string>
	<string>ESPASMOS</string>
	<string>ESPERMATOZOIDE</string>
	<string>ESPINA BÍFIDA</string>
	<string>ESPINILLAS</string>
	<string>ESPLENOMEGALIA</string>
	<string>ESPOLONES CALCÁNEOS</string>
	<string>ESPONDILITIS ANQUILOSANTE</string>
	<string>ESQUIZOFRENIA</string>
	<string>ESTERILIDAD</string>
	<string>ESTERNÓN</string>
	<string>ESTÓMAGO</string>
	<string>ESTORNUDOS</string>
	<string>ESTRABISMO</string>
	<string>ESTREÑIMIENTO</string>
	<string>ESTRÍAS</string>
	<string>ETAPAS de la TERAPIA</string>
	<string>ETAPAS del DUELO</string>
	<string>EXCRESCECNIA</string>
	<string>EXOSTALMÍA</string>
	<string>EXTREMIDAD INFERIOR</string>
	<string>EXTREMIDAD SUPERIOR</string>
	<string>EXTREMIDADES FRÍAS</string>
	<string>EYACULACIÓN PRECOZ</string>
	<string>EZQUIZOFRENIAS</string>
	<string>FALTAS DE RESPETO</string>
	<string>FANTASÍAS SEXUALES</string>
	<string>FANTASMA</string>
	<string>FARINGE</string>
	<string>FASCIAS (envolturas)</string>
	<string>FASCITIS PLANTAR</string>
	<string>FÉMUR Cabeza</string>
	<string>FÉMUR Cuello</string>
	<string>FÉMUR Y CADERA</string>
	<string>FEOCROMOCITOMA</string>
	<string>FIBROMA</string>
	<string>FIBROMIALGIA</string>
	<string>FIBROSARCOMA</string>
	<string>FIBROSIS QUÍSTICA</string>
	<string>FIEBRE, CALOR, SOFOCOS</string>
	<string>FIEBRE DEL HENO</string>
	<string>FIESTAMANÍA (La cripta)</string>
	<string>FILETES OLFATORIOS</string>
	<string>FISIOLOGÍA DEL CALCIO (Ca++)</string>
	<string>FÍSTULA ANAL</string>
	<string>FISURA ANAL</string>
	<string>FLATULENCIA</string>
	<string>FLEBITIS</string>
	<string>FORUNCULOS</string>
	<string>FRACTURAS DE HUESO</string>
	<string>FRIGIDEZ</string>
	<string>FRÍO</string>
	<string>GANGLIOS LINFÁTICOS</string>
	<string>GANGLIOS NOBLES (Ganglios del cuello)</string>
	<string>GANGLIOS. Mononucleosis</string>
	<string>GANGRENA</string>
	<string>GARGANTA</string>
	<string>GASES</string>
	<string>GASTRITIS</string>
	<string>GEMELOS, hijos</string>
	<string>GEMELOS, músculos</string>
	<string>GENETICOS PROBLEMAS</string>
	<string>GENITALES</string>
	<string>GENO VALGO</string>
	<string>GENO VARO</string>
	<string>GINECOLOGICOS PROBLEMAS</string>
	<string>GINGIVITIS</string>
	<string>GLÁNDULA SUBLINGUAL</string>
	<string>GLÁNDULAS</string>
	<string>GLÁNDULAS CORTICOSUPRARRENALES</string>
	<string>GLÁNDULAS DE BARTOLINO (Bartolinitis)</string>
	<string>GLÁNDULAS LACRIMALES</string>
	<string>GLÁNDULAS SALIVARES</string>
	<string>GLÁNDULAS SUBLINGUALES Y PARÓTIDAS</string>
	<string>GLAUCOMA</string>
	<string>GLÓBULOS BLANCOS</string>
	<string>GLÓBULOS ROJOS</string>
	<string>GÓNADAS</string>
	<string>GONARTROSIS</string>
	<string>GONORREA</string>
	<string>GOTA</string>
	<string>GRANOS</string>
	<string>GRASA</string>
	<string>GRASA. Quistes</string>
	<string>GRIPE</string>
	<string>HALITOSIS</string>
	<string>HALLUX VALGUS (Juanete, Callos)</string>
	<string>HEMATOMAS</string>
	<string>HEMIPLEGIA (Accidente vascular cerebral)</string>
	<string>HEMISFERIOS Y CUERPO</string>
	<string>HEMORRAGIA</string>
	<string>HEMORROIDES</string>
	<string>HEPATITIS</string>
	<string>HERNIA CRURAL</string>
	<string>HERNIA DE HIATO (Acidez de estómago)</string>
	<string>HERNIA DISCAL</string>
	<string>HERPES</string>
	<string>HICTERICIA, del recién nacido</string>
	<string>HIDROCEFALIA</string>
	<string>HIEDRA VENENOSA, Erupción por</string>
	<string>HÍGADO</string>
	<string>HIPERACTIVIDAD</string>
	<string>HIPERCALCEMIA</string>
	<string>HIPERCALCITONEMIA</string>
	<string>HIPERCIFOSIS</string>
	<string>HIPERDROSIS PALMAR</string>
	<string>HIPERGLOBULINEMIA</string>
	<string>HIPERGLUCEMIA</string>
	<string>HIPERLAXITUD</string>
	<string>HIPERLORDOSIS</string>
	<string>HIPERMETROPÍA</string>
	<string>HIPERPLAQUETOSIS</string>
	<string>HIPERTENSIÓN arterial</string>
	<string>HIPERTIROIDISMO</string>
	<string>HIPERVENTILACIÓN</string>
	<string>HIPO</string>
	<string>HIPOCALCEMIA</string>
	<string>HIPÓFISIS</string>
	<string>HIPOGLUCEMIA</string>
	<string>HIPOTENSIÓN</string>
	<string>HIPOTIROIDISMO</string>
	<string>HIPOTÁLAMO</string>
	<string>HIRSUTISMO</string>
	<string>HOMBRO CONGELADO</string>
	<string>HOMBROS</string>
	<string>HONGOS</string>
	<string>HUESECILLOS DE LA OREJA</string>
	<string>HUESO DENTAL</string>
	<string>HUESOS</string>
	<string>HUESOS SESAMOIDEOS</string>
	<string>HUESOS, Cancer</string>
	<string>HÚMERO</string>
	<string>HUNTINGTON, Enfermedad de</string>
	<string>ICTIOSIS</string>
	<string>ICTUS Derrame cerebral</string>
	<string>ÍLEON (Intestino delgado inferior)</string>
	<string>IMPACIENCIA</string>
	<string>IMPÉTIGO</string>
	<string>IMPOTÉNCIA</string>
	<string>INCONTINENCIA</string>
	<string>INDIGESTIÓN</string>
	<string>INFARTO. (Arterias)</string>
	<string>INFECCIÓN</string>
	<string>INFECCIONES VÍRICAS</string>
	<string>INFLAMACIÓN</string>
	<string>INSOMNIO</string>
	<string>INSUFICIENCIA RENAL</string>
	<string>INTESTINO DELGADO</string>
	<string>INTESTINO GRUESO</string>
	<string>ISQUEMIA CEREBRAL</string>
	<string>ISQUIOTIBIALES</string>
	<string>ITIS</string>
	<string>LA PIRÁMIDE DE LAS NECESIDADES BIOLÓGICAS</string>
	<string>LABIO</string>
	<string>LABIO LEPORINO</string>
	<string>LACRIMALES</string>
	<string>LARINGE</string>
	<string>LARINGITIS</string>
	<string>LATERLIDAD</string>
	<string>LENGUA</string>
	<string>LEPRA</string>
	<string>LESIONES</string>
	<string>LEUCEMIA</string>
	<string>LEUCOPENIA</string>
	<string>LEUCORREA</string>
	<string>LIGAMENTOS</string>
	<string>LIGAMENTOS CORTOS</string>
	<string>LIGAMENTOS CRUZADOS</string>
	<string>LÍNEAS DEL ESQUELETO Y SU SIGNIFICADO</string>
	<string>LINFOMA DE BURKITT Inmunodeficiencia</string>
	<string>LINFOMA DE HODGKIN</string>
	<string>LINFOMA DE NO-HODGKIN</string>
	<string>LIPOMA</string>
	<string>LÍQUIDO CEFALO-RAQUÍDIO</string>
	<string>LLAGAS ÚLCERAS</string>
	<string>LOCURA</string>
	<string>LORDOSIS (Culo respingón)</string>
	<string>LUMBAGO</string>
	<string>LUMBALGIA</string>
	<string>LUNARES</string>
	<string>LUPUS ERITEMATOSO</string>
	<string>LUXACIÓN</string>
	<string>LUXACIÓN RECIDIVANTE</string>
	<string>MAGNESIO</string>
	<string>MALARIA</string>
	<string>MALFORMACIÓN</string>
	<string>MAMAS</string>
	<string>MANCHAS ROJAS EN LA PIEL</string>
	<string>MANDÍBULA</string>
	<string>MANO</string>
	<string>MARCAJE DE TERRITORIO. Tipos</string>
	<string>MAREOS</string>
	<string>MASTOIDITIS</string>
	<string>MEDICAMENTOS</string>
	<string>MÉDULA ESPINAL</string>
	<string>MÉDULA SUPRARRENAL</string>
	<string>MÉDULA ÓSEA</string>
	<string>MEGALOMANÍA</string>
	<string>MELANINA</string>
	<string>MELANOMA</string>
	<string>MEMORIA</string>
	<string>MENINGES</string>
	<string>MENINGITIS</string>
	<string>MENISCO</string>
	<string>MENOPAUSIA</string>
	<string>MENORRAGIA</string>
	<string>MENSTRUACIÓN</string>
	<string>MESETA TIBIAL, Rodilla</string>
	<string>MESODERMO ANTIGUO</string>
	<string>MESODERMO NUEVO</string>
	<string>METEORISMO</string>
	<string>METÁSTASIS PULMUNARES</string>
	<string>MICCIÓN FRECUENTES</string>
	<string>MICOSIS</string>
	<string>MICROBIOS</string>
	<string>MIEDO AL VACÍO</string>
	<string>MIGRAÑAS</string>
	<string>MIODISTROFIA</string>
	<string>MIOMA UTERINO</string>
	<string>MIOPÍA</string>
	<string>MONONUCLEOSIS INFECCIOSA</string>
	<string>MORDEDURAS</string>
	<string>MUCOSAS</string>
	<string>MUJER, Problemas de la</string>
	<string>MÚSCULO-ESQUELÉTICO (Estriado)</string>
	<string>MÚSCULOS</string>
	<string>MUSLOS</string>
	<string>MUÑECA</string>
	<string>NALGAS</string>
	<string>NARCOLEPSIA</string>
	<string>NARIZ (Hemorragia)</string>
	<string>NARIZ (Pólipos)</string>
	<string>NARIZ, SENOS PARANASALES</string>
	<string>NASOFARINGE</string>
	<string>NAUSEAS</string>
	<string>NECROSIS DE CARTÍLAGO</string>
	<string>NECROSIS TESTICULAR</string>
	<string>NEFRITIS</string>
	<string>NERVIOSISMO</string>
	<string>NEUMONÍA</string>
	<string>NEUMOTORAX</string>
	<string>NEURALGIA</string>
	<string>NEURALGIA DEL TRIGÉMINO</string>
	<string>NEURALGIO-DISTROFIA</string>
	<string>NEURO-ALGODISTROFIA</string>
	<string>NEUROBLASTOMA</string>
	<string>NEUROFIBROMA (Glioma periférico)</string>
	<string>NEUROLOGÍAS</string>
	<string>NEUROSIS</string>
	<string>NISTAGMUS (parkinson ocular)</string>
	<string>NIÑO Accidente</string>
	<string>NIÑO DE REEMPLAZO (Yaciente horizontal)</string>
	<string>NÓDULOS General</string>
	<string>OBESIDAD Y SOBREPESO</string>
	<string>OÍDO</string>
	<string>OÍDO EXTERNO</string>
	<string>OÍDO INTERNO</string>
	<string>El OÍDO MEDIO</string>
	<string>OJOS</string>
	<string>OLFATO</string>
	<string>OMBLIGO</string>
	<string>OMOPLATOS</string>
	<string>ORGASMO</string>
	<string>ORQUITIS</string>
	<string>ORZUELO</string>
	<string>OSTEOCONDRITIS DISECANTE DE CADERA</string>
	<string>OSTEOLISIS</string>
	<string>OSTEOPOROSIS</string>
	<string>OTITIS</string>
	<string>OVARIO</string>
	<string>OVARIO Células germinativas</string>
	<string>OVARIOS Y TESTÍCULOS</string>
	<string>PALADAR</string>
	<string>PÁNCREAS</string>
	<string>PAPERAS (Parotiditis)</string>
	<string>PAPILOMA HUMANO</string>
	<string>PARÁLISIS</string>
	<string>PARÁLISIS CEREBRAL</string>
	<string>PARANOIA</string>
	<string>PARÁSITOS</string>
	<string>PARATIROIDES</string>
	<string>PARÉNQUIMA RENAL</string>
	<string>PARKINSON</string>
	<string>PARÓTIDA</string>
	<string>PAROTÍDEO</string>
	<string>PÁRPADO</string>
	<string>PARTES: ANO, VEJIGA, VAGINA, PENE, PRÓSTATA…</string>
	<string>PAT HORMONAL</string>
	<string>PECHO</string>
	<string>PECHOS</string>
	<string>PELO</string>
	<string>PELVIS</string>
	<string>PELVIS RENAL</string>
	<string>PENE</string>
	<string>PERDON VERDADERO</string>
	<string>PERFORACIÓN</string>
	<string>EL PERICARDIO. Pericarditis</string>
	<string>PERIODONTITIS Piorrea</string>
	<string>PERIOSTIO</string>
	<string>PERITONEO</string>
	<string>PERITONITIS</string>
	<string>PERONÉ</string>
	<string>PESADEZ DE ESTÓMAGO</string>
	<string>PICADURAS DE MOSQUITO</string>
	<string>PIEL RUGOSA</string>
	<string>PIEL SECA</string>
	<string>PIEL. Epidermis</string>
	<string>PIEL. Hipodermis</string>
	<string>PIEL. La dermis</string>
	<string>PIERNAS</string>
	<string>PIERNAS Circulación de retorno</string>
	<string>PIERNAS PESADAS</string>
	<string>PIES</string>
	<string>PIES CALIENTES</string>
	<string>PIES DE ATLETA</string>
	<string>PIES FRÍOS</string>
	<string>PIES HUECOS O CAVOS</string>
	<string>PIES PLANOS</string>
	<string>PINEAL GLÁNDULA</string>
	<string>PIOJOS</string>
	<string>PITUITARIA</string>
	<string>PITYRIASIS VERSICOLOR</string>
	<string>PLAQUETAS</string>
	<string>PLAQUETOPENIA</string>
	<string>PLEURA</string>
	<string>POLARIDAD</string>
	<string>POLIARTRITIS REUMATOIDE</string>
	<string>POLIGLOBULÍA</string>
	<string>POLIOMELITIS</string>
	<string>PÓLIPOS, COLITIS</string>
	<string>POLIPOSIS</string>
	<string>PRESBICIA Vista cansada.</string>
	<string>PROBLEMAS RESPIRATORIOS</string>
	<string>PROLACTINA</string>
	<string>PRÓSTATA</string>
	<string>PRURITO irritación Picor Comezón</string>
	<string>PSICOSIS FUNCIONALES</string>
	<string>PSICOSIS MANÍACO DEPRESIVA</string>
	<string>PSIQUIATRICOS PROBLEMAS</string>
	<string>PSORIASIS</string>
	<string>PUBALGIAS</string>
	<string>PUBIS</string>
	<string>PULMONES</string>
	<string>PUNTA DE LOS PIES Caminar</string>
	<string>QUEMADURAS</string>
	<string>QUERATITIS en la córnea</string>
	<string>QUERATOCONO</string>
	<string>QUIMIOTERAPIA</string>
	<string>QUISTE DE OVARIO FUNCIONAL</string>
	<string>QUISTE SACRO</string>
	<string>QUISTES</string>
	<string>QUISTES EN LA MUÑECA</string>
	<string>RABIA</string>
	<string>RADIO</string>
	<string>RAMPA</string>
	<string>RAQUIS Dorsal y lumbar</string>
	<string>RAQUITISMO</string>
	<string>RAYOS X</string>
	<string>RECTO</string>
	<string>REGURGITACIÓN</string>
	<string>RELACION PARTE-SENTIDO</string>
	<string>REMORDIMIENTO</string>
	<string>RESFRIADO</string>
	<string>RETENCIÓN DE LÍQUIDOS EN PIERNAS</string>
	<string>RETINA</string>
	<string>RETINITIS</string>
	<string>RETINOPATÍA MACULAR</string>
	<string>REUMA</string>
	<string>RINITIS</string>
	<string>RINOFARINGITIS En el bebé</string>
	<string>RIÑON</string>
	<string>RIÑON (El canal colector)</string>
	<string>RODILLA</string>
	<string>RODILLA, ARTROSIS</string>
	<string>RONQUIDO</string>
	<string>ROSÁCEA UNI O BILATERAL</string>
	<string>RÓTULA</string>
	<string>SACRO</string>
	<string>SALPINGITIS</string>
	<string>SANGRE</string>
	<string>SARNA</string>
	<string>SARPULLIDOS</string>
	<string>SENOS NASALES</string>
	<string>SESIÓN DE PSICO BIO TERAPIA</string>
	<string>SIDA</string>
	<string>SÍFILIS</string>
	<string>SIGMOIDE</string>
	<string>SIMPATICOTONÍA</string>
	<string>SÍNDROME DE MENIERE (Oido interno)</string>
	<string>SÍNDROME DE RAYNAUD</string>
	<string>SÍNDROME DEL ANIVERSARIO</string>
	<string>SÍNDROME PREMENSTRUAL</string>
	<string>SINUSITIS Bebé</string>
	<string>SISTEMA DIGESTIVO</string>
	<string>SISTEMA INMUNITARIO</string>
	<string>SISTEMA REPRODUCTOR</string>
	<string>SISTEMA RESPIRATORIO (Los alvéolos)</string>
	<string>SISTEMA URINARIO</string>
	<string>SOBREPESO</string>
	<string>SOBREPESO POR LÍQUIDOS</string>
	<string>SOMATOTROPINA</string>
	<string>SORDERA</string>
	<string>SQM (Sensibilidad Química Múltiple)</string>
	<string>SUBMUCOSA BUCAL</string>
	<string>SUDORACIÓN</string>
	<string>SUICIDIO</string>
	<string>SUPRARRENALES</string>
	<string>TABACO</string>
	<string>TÁLAMO</string>
	<string>TALASEMIA</string>
	<string>TALÓN</string>
	<string>TAQUICARDIA. Fibrilaciones</string>
	<string>TARTAMUDEO</string>
	<string>TÉCNICA DE LA ALERGIA DE NLP</string>
	<string>TECNICA de LISA BOURBEAU</string>
	<string>TEJIDO ADIPOSO</string>
	<string>TEJIDO CONJUNTIVO</string>
	<string>TENDINITIS</string>
	<string>TENDÓN DE AQUILES</string>
	<string>TENDONES Y LIGAMENTOS</string>
	<string>TENESMAS</string>
	<string>TENIASIS</string>
	<string>TERAPIA EN BIODESCODIFICACIÓN</string>
	<string>TERAPIA EN EL CANCER DE MAMA</string>
	<string>TERATOMA</string>
	<string>TESTÍCULO</string>
	<string>TÉTANOS</string>
	<string>TÍBIA</string>
	<string>TICS</string>
	<string>TIMO</string>
	<string>TÍMPANO</string>
	<string>TIROIDES</string>
	<string>TIROIDES Canales excretores.</string>
	<string>TOBILLO</string>
	<string>TOBILLO, Esguince</string>
	<string>TORTÍCOLIS</string>
	<string>TOS</string>
	<string>TOXICIDAD</string>
	<string>TRASTORNOS DE COMPORTAMIENTO DE 1ª ETAPA</string>
	<string>TRASTORNOS DE COMPORTAMIENTO DE 2ª ETAPA</string>
	<string>TRASTORNOS DE COMPORTAMIENTO DE 3ª ETAPA</string>
	<string>TRASTORNOS DE COMPORTAMIENTO DE 4ª ETAPA</string>
	<string>TRASTORNOS TALÁMICOS. DESCARRILAMIENTO METABÓLICO</string>
	<string>TRAUMA MENTAL</string>
	<string>TRAUMATISMO CEREBRAL</string>
	<string>TROCÁNTER MAYOR</string>
	<string>TROFOBLASTOMA (Cáncer de placenta)</string>
	<string>TROMBOCITOSIS</string>
	<string>TROMBOSIS</string>
	<string>TROMPA DE EUSTAQUIO</string>
	<string>TROMPAS DE FALOPIO</string>
	<string>TROMPAS UTERINAS</string>
	<string>TUBERCULOSIS</string>
	<string>TUMOR CEREBRAL</string>
	<string>TUMOR Cresta ilíaca</string>
	<string>TUMORES</string>
	<string>TUMORES CRANEALES</string>
	<string>ÚLCERA</string>
	<string>ÚLCERA PÉPTICA</string>
	<string>ÚLCERA VARICOSA</string>
	<string>URETER</string>
	<string>URETRA</string>
	<string>URTICARIA</string>
	<string>ÚTERO</string>
	<string>ÚTERO BÍFIDO</string>
	<string>ÚTERO Mucosa del cuerpo</string>
	<string>ÚTERO Músculo liso</string>
	<string>UÑAS</string>
	<string>VAGINA</string>
	<string>VAGINITIS</string>
	<string>VAGOTONÍA</string>
	<string>VAINA DE MIELINA</string>
	<string>VÁLVULA MITRAL</string>
	<string>VARICELA</string>
	<string>VARICES</string>
	<string>VARICOCELE</string>
	<string>VASOS LINFÁTICOS</string>
	<string>VEGETACIONES NASOFARINGEAS</string>
	<string>VEJEZ</string>
	<string>VEJIGA</string>
	<string>VENAS</string>
	<string>VENAS CORONARIAS</string>
	<string>VENTRÍCULOS</string>
	<string>VERRUGAS</string>
	<string>VÉRTEBRAS CERVICALES</string>
	<string>VÉRTEBRAS DORSALES</string>
	<string>VÉRTEBRAS LUMBARES</string>
	<string>VÉRTIGO</string>
	<string>VÉRTIGOS</string>
	<string>VESÍCULA BILIAR</string>
	<string>VESÍCULA SEMINAL</string>
	<string>VIRUS</string>
	<string>VISIÓN, PÉRDIDA</string>
	<string>VITALIDAD, Falta</string>
	<string>VITÍLIGO</string>
	<string>VÓMITOS</string>
	<string>VUELTA DE CORDON Nacimiento</string>
	<string>YACIENTE</string>
	<string>YEYUNO (intestino delgado superior)</string>
	<string>ZUMBIDOS</string>
</array>
</plist>
